In [1]:
import pandas as pd

In [3]:
# read from raw deaths csv
covid_df = pd.read_csv("pharma-data/raw-data/covid/weekly_deaths.csv")
covid_df.head()

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# take only US data and its date column
us_covid_df = covid_df[['date', 'United States']]

In [ ]:
# check the shape of the dataframe
us_covid_df.shape

In [ ]:
# check the data types
us_covid_df.dtypes

In [ ]:
# info for covid data
us_covid_df.describe()

In [ ]:
# sanity check
us_covid_df.head()

In [ ]:
# number of null vals
us_covid_df.isnull().sum()

In [ ]:
# fill in missing values with 0
us_covid_df.fillna(0, inplace=True)

In [ ]:
# remove index number and make the date the index
us_covid_df.set_index('date', inplace=True)

In [ ]:
# remove the very first row
us_covid_df = us_covid_df.iloc[1:]

# rename column "United States" to "US covid deaths"
us_covid_df.rename(columns={'United States': 'US covid deaths'}, inplace=True)

In [ ]:
# send to cleaned folder
us_covid_df.to_csv("pharma-data/clean-data/us_covid_deaths.csv")