In [2]:
# import libraries
import pandas as pd

#### Read symbols into respective dataframes

In [3]:
# list of tickers we have data for in pkl file
tickers = ['LLY', 'NVO', 'JNJ', 'MRK', 'ABBV', 'ROG.SW',
           'NVS', 'AZN', 'PFE', 'AMGN', 'PPH', 'IHE', 'PJP']

dfs = {}  # dictionary to store all dataframes

for symbol in tickers:
    # for each symbol, load the pkl file and store it in the dictionary as a df
    dfs[f"{symbol}_df"] = pd.read_pickle(f"pharma-data/day/{symbol}.pkl")

#### Sanity Check
##### Check all the df.head() to ensure they worked

In [4]:
# for each dataframe in the dfs dictionary, print the first 5 rows & shape
for df in dfs:
    print(f"First 5 rows of {df}")
    print(dfs[df].shape)
    print(dfs[df].head())
    print("\n")

First 5 rows of LLY_df
(2501, 6)
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-03-13  59.240002  59.330002  58.230000  58.340000  47.321117  4103700
2014-03-14  58.310001  58.980000  58.230000  58.869999  47.751007  4201800
2014-03-17  59.119999  59.290001  58.650002  58.869999  47.751007  3016200
2014-03-18  58.910000  59.700001  58.810001  59.400002  48.180893  4082800
2014-03-19  59.349998  59.740002  58.630001  59.049999  47.897015  2865900


First 5 rows of NVO_df
(2501, 6)
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-03-13  23.195000  23.219999  22.750000  22.855000  15.467833  4562200
2014-03-14  22.610001  22.889999  22.584999  22.775000  15.413692  5663000
2014-03-17  22.879999  23.100000  22.860001  22.905001  15.501674  2049200
2014-03-18  22.955000  23.209999  22.950001  23.174999  15.684403  1537400
2014-03-19  23.160000  23.225000  22.635000  22.745001  15.393388  3033400


First 5 rows of JNJ_df
(2501, 6)
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-03-13  93.849998  94.199997  92.980003  93.000000  70.811897  7659400
2014-03-14  92.879997  93.440002  92.459999  92.809998  70.667236  7337800
2014-03-17  93.260002  94.180000  93.180000  93.930000  71.520004  5872600
2014-03-18  93.900002  94.239998  93.480003  93.940002  71.527626  5891900
2014-03-19  93.889999  94.360001  92.919998  93.589996  71.261116  5937600


First 5 rows of MRK_df
(2501, 6)
                 Open       High        Low      Close  Adj Close    Volume
Date
2014-03-13  54.017178  54.188931  53.167938  53.234734  39.423874  10605760
2014-03-14  52.986641  53.454197  52.738548  53.148853  39.360268  12699454
2014-03-17  53.387405  53.864506  53.387405  53.683205  39.755997   9965851
2014-03-18  53.730915  53.969467  53.587788  53.778625  39.826675   7410303
2014-03-19  54.083969  54.303436  53.091602  53.425571  39.565197  10530723


First 5 rows of ABBV_df
(2501, 6)
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-03-13  51.889999  52.099998  51.139999  51.320000  34.014988  4839400
2014-03-14  51.250000  51.419998  50.799999  51.209999  33.942081  5466700
2014-03-17  51.470001  52.189999  51.259998  51.980000  34.452435  3875500
2014-03-18  52.080002  53.220001  51.970001  53.099998  35.194778  4712300
2014-03-19  53.090000  53.529999  52.439999  53.110001  35.201401  6408600


First 5 rows of ROG.SW_df
(2501, 6)
                  Open        High         Low       Close   Adj Close  \
Date
2014-03-11  261.299988  262.100006  260.200012  260.299988  195.307236
2014-03-12  260.299988  260.899994  257.799988  258.899994  194.256805
2014-03-13  259.100006  259.399994  254.300003  254.300003  190.805359
2014-03-14  253.899994  256.000000  253.399994  253.899994  190.505249
2014-03-17  253.600006  256.700012  252.899994  255.199997  191.480637

             Volume
Date
2014-03-11   951270
2014-03-12  1078173
2014-03-13  2261570
2014-03-14  1738232
2014-03-17  1682985


First 5 rows of NVS_df
(2501, 6)
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-03-13  74.363800  74.596771  73.028671  73.172043  52.698406  1785935
2014-03-14  73.001793  73.378136  72.974907  73.109322  52.653236  1037210
2014-03-17  73.234764  73.879929  73.225807  73.611115  53.014626   692590
2014-03-18  73.915771  74.543015  73.799286  74.050179  53.330849  1580926
2014-03-19  73.539429  73.745522  72.320786  72.768814  52.408005  1414418


First 5 rows of AZN_df
(2501, 6)
                 Open       High        Low      Close  Adj Close   Volume
Date
2014-03-13  33.345001  33.435001  32.540001  32.634998  23.717327  5694200
2014-03-14  32.474998  32.785000  32.470001  32.650002  23.728231  7082600
2014-03-17  32.814999  33.110001  32.814999  32.950001  23.946257  3556600
2014-03-18  33.000000  33.145000  32.830002  33.084999  24.044367  3868000
2014-03-19  33.174999  33.275002  32.669998  32.875000  23.891747  2658000


First 5 rows of PFE_df
(2501, 6)
                 Open       High        Low      Close  Adj Close    Volume
Date
2014-03-13  30.351044  30.379507  29.326376  29.525618  20.270720  48374068
2014-03-14  29.554079  29.829222  29.250475  29.629980  20.342367  28576680
2014-03-17  29.800758  29.914612  29.658443  29.810247  20.466122  22412467
2014-03-18  29.857685  30.417458  29.810247  30.294119  20.798330  24326742
2014-03-19  30.294119  30.436434  29.781784  30.085388  20.655024  24329482


First 5 rows of AMGN_df
(2501, 6)
                  Open        High         Low       Close  Adj Close   Volume
Date
2014-03-13  126.169998  126.349998  123.309998  123.959999  93.948013  2436800
2014-03-14  123.400002  124.910004  122.360001  122.540001  92.871773  2213600
2014-03-17  123.120003  125.309998  122.550003  123.860001  93.872215  2574100
2014-03-18  124.500000  127.480003  124.309998  127.470001  96.608177  3255600
2014-03-19  127.989998  127.989998  125.720001  126.580002  95.933685  2599500


First 5 rows of PPH_df
(2501, 6)
                 Open       High        Low      Close  Adj Close  Volume
Date
2014-03-13  59.060001  59.110001  58.000000  58.049999  48.023014   55900
2014-03-14  58.049999  58.439999  57.880001  58.270000  48.205006   29500
2014-03-17  58.529999  58.959999  58.529999  58.790001  48.635185   51900
2014-03-18  58.869999  59.330002  58.810001  59.290001  49.048836   37400
2014-03-19  59.349998  59.490002  58.549999  58.900002  48.726192   50800


First 5 rows of IHE_df
(2501, 6)
                  Open        High         Low       Close   Adj Close  Volume
Date
2014-03-13  130.759995  131.470001  128.619995  128.940002  111.446877   51300
2014-03-14  128.520004  130.089996  128.520004  129.660004  112.069176   28500
2014-03-17  130.250000  131.190002  130.020004  130.279999  112.605057   54200
2014-03-18  130.669998  132.350006  130.589996  132.210007  114.273201   52000
2014-03-19  132.399994  132.809998  130.619995  131.500000  113.659538   54900


First 5 rows of PJP_df
(2501, 6)
                 Open       High        Low      Close  Adj Close  Volume
Date
2014-03-13  59.490002  59.619999  58.180000  58.470001  50.212063  265100
2014-03-14  58.299999  58.900002  58.000000  58.599998  50.323696  161200
2014-03-17  59.000000  59.570000  58.810001  58.900002  50.581333  209200
2014-03-18  59.110001  59.950001  59.020000  59.900002  51.440090  207500
2014-03-19  60.020000  60.160000  58.959999  59.419998  51.027897  366600

#### Check for null values

In [5]:
for df in dfs:
    print(f"Null values in {df}")
    print(dfs[df].isnull().sum())
    print("\n")

# we see there are no null values anywhere. yfinance dealt with them.

Null values in LLY_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in NVO_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in JNJ_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in MRK_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in ABBV_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in ROG.SW_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in NVS_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in AZN_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in PFE_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in AMGN_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in PPH_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in IHE_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in PJP_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
dfs['LLY_df'].shape

(2501, 6)

In [7]:
dfs['LLY_df'].dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object