In [4]:
# import libraries
import pandas as pd

#### Read symbols into respective dataframes

In [5]:
# list of tickers we have data for in pkl file
tickers = ['LLY', 'NVO', 'JNJ', 'MRK', 'ABBV', 'MRNA',
           'NVS', 'AZN', 'PFE', 'AMGN', 'PPH', 'IHE', 'PJP']

dfs = {}  # dictionary to store all dataframes

for symbol in tickers:
    # for each symbol, load the pkl file and store it in the dictionary as a df
    dfs[f"{symbol}_df"] = pd.read_pickle(f"pharma-data/day/{symbol}.pkl")

#### Sanity Check
##### Check all the df.head() to ensure they worked

#### Check for null values

In [6]:
for df in dfs:
    print(f"Null values in {df}")
    print(dfs[df].isnull().sum())
    print("\n")

# we see there are no null values anywhere. yfinance dealt with them.

Null values in LLY_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in NVO_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in JNJ_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in MRK_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in ABBV_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in MRNA_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in NVS_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in AZN_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in PFE_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in AMGN_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in PPH_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in IHE_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


Null values in PJP_df
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
dfs['LLY_df'].shape

(1044, 6)

In [8]:
dfs['LLY_df'].dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [9]:
# find statistics (range, median, mean, std) for all quantitative columns
for df_name, df in dfs.items():
    # Selecting quantitative columns
    quantitative_cols = ['Open', 'High', 'Low', 'Close', 'Volume']
    quantitative_cols = [col for col in quantitative_cols if col in df.columns]

    print(f"Statistics for {df_name}:")
    print(df[quantitative_cols].describe())
    print("\n")

Statistics for LLY_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean    301.082471   304.727878   297.585172   301.331355  3.320386e+06
std     148.374251   150.020194   146.573908   148.461820  1.735450e+06
min     120.120003   124.599998   117.059998   119.050003  6.272000e+05
25%     181.742496   183.789997   180.165001   182.207504  2.291475e+06
50%     263.994995   267.585007   261.409988   264.145004  2.836900e+06
75%     360.080002   363.422501   356.392494   360.500000  3.737775e+06
max     790.000000   794.469971   769.119995   782.059998  1.723140e+07


Statistics for NVO_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     56.301964    56.786992    55.859507    56.359741  2.906605e+06
std      23.291443    23.525835    23.122677    23.370771  1.787071e+06
min      25.105000    25.955000    24.620001    24.730000  5.550000e+05
25%      35.392500    35.593751    35.131248    35.297500  1.790000e+06
50%      52.135000    52.702501    51.772499    52.217501  2.379450e+06
75%      70.216251    70.603750    69.853750    70.284998  3.386050e+06
max     124.620003   124.870003   123.010002   124.519997  1.782260e+07


Statistics for JNJ_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean    160.951830   162.187222   159.676480   160.971911  8.360982e+06
std      11.364908    11.243472    11.520530    11.391904  8.507887e+06
min     117.000000   118.559998   109.160004   111.139999  2.114900e+06
25%     152.364998   153.474998   151.229996   152.365005  5.675725e+06
50%     162.250000   163.544998   161.174995   162.449997  6.850450e+06
75%     169.374996   170.787498   168.049995   169.372501  8.528875e+06
max     185.100006   186.690002   184.179993   186.009995  1.513195e+08


Statistics for MRK_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     89.072559    89.902991    88.234364    89.087162  1.037505e+07
std      15.485327    15.548185    15.425840    15.529245  5.845910e+06
min      65.019081    66.555344    62.261452    63.358780  2.791447e+06
25%      76.457594    77.092651    75.772177    76.388397  7.167691e+06
50%      82.089695    82.823586    81.298855    82.025993  9.122106e+06
75%     104.827499   105.824999   103.794998   104.830002  1.182171e+07
max     129.789993   130.240005   128.860001   129.449997  1.024973e+08


Statistics for ABBV_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean    126.721887   128.002855   125.496537   126.817303  6.997937e+06
std      26.548162    26.696490    26.463283    26.632508  3.833946e+06
min      67.379997    67.750000    62.549999    64.500000  1.378600e+06
25%     105.327501   106.475000   104.164999   105.352497  4.805750e+06
50%     135.110001   136.215004   134.095001   135.220001  6.020550e+06
75%     149.115002   150.645000   147.912495   149.349998  8.002750e+06
max     179.850006   179.860001   178.000000   178.990005  5.094320e+07


Statistics for MRNA_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean    145.597171   150.076662   141.339610   145.883386  1.026392e+07
std      85.824455    88.915603    83.150713    86.296283  1.206598e+07
min      17.990000    18.080000    17.680000    17.780001  1.041600e+06
25%      86.567503    89.238749    84.657503    86.145002  3.845775e+06
50%     135.440002   139.729996   131.125000   134.899994  6.321650e+06
75%     172.402496   176.734997   168.044998   172.434994  1.180540e+07
max     485.500000   497.489990   454.000000   484.470001  1.251304e+08


Statistics for NVS_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     89.854148    90.359559    89.289579    89.815517  2.042047e+06
std       7.069598     7.008608     7.113362     7.068195  9.410636e+05
min      70.070000    74.300003    69.180000    70.669998  5.559000e+05
25%      85.054998    85.647501    84.502502    85.035002  1.428275e+06
50%      88.215000    88.645000    87.739998    88.149998  1.853200e+06
75%      94.107498    94.522497    93.590000    94.064999  2.411925e+06
max     108.360001   108.779999   108.190002   108.470001  8.939200e+06


Statistics for AZN_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     59.974694    60.442653    59.484353    59.966001  6.562457e+06
std       7.609361     7.602620     7.621028     7.612011  4.918165e+06
min      36.810001    38.889999    36.150002    37.790001  1.337100e+06
25%      54.195001    54.732501    53.669998    54.107500  4.062175e+06
50%      59.300001    59.910000    58.845001    59.459999  5.433650e+06
75%      66.452497    66.902502    65.805002    66.434999  7.469825e+06
max      76.500000    76.559998    75.660004    75.809998  6.554020e+07


Statistics for PFE_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     40.471182    40.913244    40.012225    40.459233  3.033085e+07
std       7.626953     7.767647     7.516053     7.663709  1.721537e+07
min      26.129999    26.730000    25.760000    26.129999  6.760200e+06
25%      35.009998    35.279999    34.691651    34.938396  2.008668e+07
50%      38.955000    39.184999    38.520000    38.810001  2.584580e+07
75%      47.092502    47.662501    46.372500    47.072500  3.429125e+07
max      60.599998    61.709999    59.830002    61.250000  2.301539e+08


Statistics for AMGN_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean    242.055977   244.535105   239.495766   242.068975  2.736695e+06
std      22.285403    22.180962    22.183261    22.219668  1.205559e+06
min     184.630005   191.960007   177.050003   182.240005  9.308000e+05
25%     227.529999   229.535004   225.277500   227.377495  2.046725e+06
50%     239.669998   242.014999   236.964996   239.725006  2.482750e+06
75%     252.245003   254.670002   250.035000   252.365002  3.030150e+06
max     325.399994   329.720001   320.750000   324.559998  1.311450e+07


Statistics for PPH_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     72.724607    73.117098    72.287787    72.727653  1.022479e+05
std       7.209999     7.173593     7.281879     7.240656  1.413436e+05
min      49.180000    49.180000    46.900002    47.540001  4.700000e+03
25%      67.495001    68.065001    67.127499    67.514999  2.727500e+04
50%      74.384998    74.970001    74.025002    74.480000  5.685000e+04
75%      77.832500    78.174999    77.370003    77.882498  1.228250e+05
max      90.870003    90.930000    90.290001    90.589996  1.697600e+06


Statistics for IHE_df:
              Open         High          Low        Close         Volume
count  1044.000000  1044.000000  1044.000000  1044.000000    1044.000000
mean    178.549042   179.492414   177.505134   178.526685   12496.530651
std      14.086061    13.945198    14.298290    14.137407   26046.373364
min     120.760002   122.000000   115.529999   117.050003    1200.000000
25%     172.664993   173.604996   171.519997   172.395000    4000.000000
50%     181.169998   182.224998   180.544998   181.325005    6400.000000
75%     188.089996   189.250004   187.109997   188.054996   12075.000000
max     208.119995   208.679993   208.000000   208.649994  487000.000000


Statistics for PJP_df:
              Open         High          Low        Close        Volume
count  1044.000000  1044.000000  1044.000000  1044.000000  1.044000e+03
mean     73.792213    74.253857    73.334282    73.809845  2.051490e+04
std       6.508198     6.439379     6.580740     6.509658  4.908387e+04
min      49.000000    49.509998    47.139999    48.040001  1.100000e+03
25%      70.082499    70.420000    69.682503    69.989998  7.300000e+03
50%      76.064999    76.589996    75.725002    76.125000  1.225000e+04
75%      78.397499    78.842497    78.004999    78.412502  2.112500e+04
max      83.589996    84.110001    83.339996    83.540001  1.078100e+06

In [10]:
# check starting date is January 5th, 2020
for df_name, df in dfs.items():
    print(f"Starting date for {df_name}: {df.index[0]}")
    print("\n")

Starting date for LLY_df: 2020-01-06 00:00:00


Starting date for NVO_df: 2020-01-06 00:00:00


Starting date for JNJ_df: 2020-01-06 00:00:00


Starting date for MRK_df: 2020-01-06 00:00:00


Starting date for ABBV_df: 2020-01-06 00:00:00


Starting date for MRNA_df: 2020-01-06 00:00:00


Starting date for NVS_df: 2020-01-06 00:00:00


Starting date for AZN_df: 2020-01-06 00:00:00


Starting date for PFE_df: 2020-01-06 00:00:00


Starting date for AMGN_df: 2020-01-06 00:00:00


Starting date for PPH_df: 2020-01-06 00:00:00


Starting date for IHE_df: 2020-01-06 00:00:00


Starting date for PJP_df: 2020-01-06 00:00:00

In [11]:
# export dataframes to /pharma-data/clean-data/stocks
for df_name, df in dfs.items():
    df.to_csv(f"pharma-data/clean-data/stocks/{df_name}.csv")

In [12]:
dfs['LLY_df'].head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-06,131.419998,132.559998,130.940002,132.259995,124.553093,2102900
2020-01-07,131.699997,132.929993,131.699997,132.509995,124.788521,2448300
2020-01-08,132.460007,134.210007,132.009995,133.710007,125.918610,5188600
2020-01-09,134.550003,136.360001,134.009995,135.919998,127.999825,4522800
2020-01-10,135.779999,138.270004,135.529999,138.000000,129.958572,4177600