In [1]:
import pandas as pd

In [13]:
covid_df = pd.read_csv("pharma-data/covid/weekly_deaths.csv")
covid_df.head()

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
us_covid_df = covid_df[['date', 'United States']]

In [10]:
us_covid_df.head(100)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
       ...
95     6642.0
96     6642.0
97     6642.0
98    13889.0
99    13889.0
Name: United States, Length: 100, dtype: float64

In [17]:
us_covid_df.shape

(1499, 2)

In [18]:
us_covid_df.tail()

            date  United States
1494  2024-02-07            NaN
1495  2024-02-08            NaN
1496  2024-02-09            NaN
1497  2024-02-10            NaN
1498  2024-02-11            NaN

In [19]:
us_covid_df.dtypes

date              object
United States    float64
dtype: object