In [2]:
import pandas as pd

In [3]:
covid_df = pd.read_csv("pharma-data/covid/weekly_deaths.csv")
covid_df.head()

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
us_covid_df = covid_df[['date', 'United States']]

In [5]:
us_covid_df.head(100)

          date  United States
0   2020-01-05            NaN
1   2020-01-06            NaN
2   2020-01-07            NaN
3   2020-01-08            NaN
4   2020-01-09            NaN
..         ...            ...
95  2020-04-09         6642.0
96  2020-04-10         6642.0
97  2020-04-11         6642.0
98  2020-04-12        13889.0
99  2020-04-13        13889.0

[100 rows x 2 columns]

In [6]:
us_covid_df.shape

(1499, 2)

In [7]:
us_covid_df.tail()

            date  United States
1494  2024-02-07            NaN
1495  2024-02-08            NaN
1496  2024-02-09            NaN
1497  2024-02-10            NaN
1498  2024-02-11            NaN

In [8]:
us_covid_df.dtypes

date              object
United States    float64
dtype: object

In [10]:
us_covid_df.describe()

       United States
count    1227.000000
mean     6430.370008
std      5501.983074
min         0.000000
25%      2480.000000
50%      4455.000000
75%      9065.000000
max     23312.000000

In [12]:
us_covid_df.head()

         date  United States
0  2020-01-05            NaN
1  2020-01-06            NaN
2  2020-01-07            NaN
3  2020-01-08            NaN
4  2020-01-09            NaN

In [13]:
us_covid_df.isnull().sum()

date               0
United States    272
dtype: int64

In [14]:
# fill in missing values with 0
us_covid_df.fillna(0, inplace=True)

/var/folders/yt/bgdsxzwd4jqgq1rs5nfr10b80000gn/T/ipykernel_26886/3492811139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_covid_df.fillna(0, inplace=True)

In [15]:
us_covid_df.isnull().sum()

date             0
United States    0
dtype: int64

In [16]:
us_covid_df.to_csv("pharma-data/clean-data/us_covid_deaths.csv")