In [33]:
# import libraries
import pandas as pd
import numpy as np

In [34]:
# read from raw file
df = pd.read_csv ('pharma-data/raw-data/overdoses/DrugDeaths.csv')

In [35]:
# uncleaned file shape
df.shape

(10654, 48)

In [13]:
# lot of clutter columns shown
df.columns

Index(['Date', 'Date Type', 'Age', 'Sex', 'Race', 'Ethnicity',
       'Residence City', 'Residence County', 'Residence State', 'Injury City',
       'Injury County', 'Injury State', 'Injury Place',
       'Description of Injury', 'Death City', 'Death County', 'Death State',
       'Location', 'Location if Other', 'Cause of Death', 'Manner of Death',
       'Other Significant Conditions ', 'Heroin',
       'Heroin death certificate (DC)', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Meth/Amphetamine',
       'Amphet', 'Tramad', 'Hydromorphone', 'Morphine (Not Heroin)',
       'Xylazine', 'Gabapentin', 'Opiate NOS', 'Heroin/Morph/Codeine',
       'Other Opioid', 'Any Opioid', 'Other', 'ResidenceCityGeo',
       'InjuryCityGeo', 'DeathCityGeo'],
      dtype='object')

In [14]:
# sanity check
df.head()

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10654 entries, 0 to 10653
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           10654 non-null  object
 1   Date Type                      10654 non-null  object
 2   Age                            10652 non-null  float64
 3   Sex                            10645 non-null  object
 4   Race                           10625 non-null  object
 5   Ethnicity                      1575 non-null   object
 6   Residence City                 10148 non-null  object
 7   Residence County               9486 non-null   object
 8   Residence State                8756 non-null   object
 9   Injury City                    10476 non-null  object
 10  Injury County                  7332 non-null   object
 11  Injury State                   7741 non-null   object
 12  Injury Place                   10364 non-null  object
 13  Description of Injury          9850 non-null   object
 14  Death City                     9197 non-null   object
 15  Death County                   8090 non-null   object
 16  Death State                    6873 non-null   object
 17  Location                       10632 non-null  object
 18  Location if Other              1194 non-null   object
 19  Cause of Death                 10654 non-null  object
 20  Manner of Death                10645 non-null  object
 21  Other Significant Conditions   1010 non-null   object
 22  Heroin                         3472 non-null   object
 23  Heroin death certificate (DC)  740 non-null    object
 24  Cocaine                        3855 non-null   object
 25  Fentanyl                       6925 non-null   object
 26  Fentanyl Analogue              804 non-null    object
 27  Oxycodone                      950 non-null    object
 28  Oxymorphone                    157 non-null    object
 29  Ethanol                        2878 non-null   object
 30  Hydrocodone                    163 non-null    object
 31  Benzodiazepine                 2499 non-null   object
 32  Methadone                      938 non-null    object
 33  Meth/Amphetamine               127 non-null    object
 34  Amphet                         359 non-null    object
 35  Tramad                         284 non-null    object
 36  Hydromorphone                  67 non-null     object
 37  Morphine (Not Heroin)          55 non-null     object
 38  Xylazine                       792 non-null    object
 39  Gabapentin                     348 non-null    object
 40  Opiate NOS                     126 non-null    object
 41  Heroin/Morph/Codeine           2090 non-null   object
 42  Other Opioid                   128 non-null    object
 43  Any Opioid                     7620 non-null   object
 44  Other                          692 non-null    object
 45  ResidenceCityGeo               10488 non-null  object
 46  InjuryCityGeo                  10408 non-null  object
 47  DeathCityGeo                   10653 non-null  object
dtypes: float64(1), object(47)
memory usage: 3.9+ MB

In [16]:
# stats given
df.describe()

                Age
count  10652.000000
mean      43.515302
std       12.601832
min       13.000000
25%       33.000000
50%       43.000000
75%       54.000000
max       87.000000

In [31]:
# clean to only consider date and death count
death_counts = df.groupby('Date').size().reset_index(name='US Overdose Deaths')

In [32]:
# sanity check
death_counts.head()

         Date  US Overdose Deaths
0  01/01/2012                   1
1  01/01/2013                   1
2  01/01/2015                   4
3  01/01/2016                   4
4  01/01/2017                   1

In [22]:
# sanity check
death_counts.tail()

            Date  US Overdose Deaths
3515  12/31/2018                   1
3516  12/31/2019                   4
3517  12/31/2020                   3
3518  12/31/2021                   3
3519  12/31/2022                   3

In [23]:
# set the actual index to the date
death_counts.set_index('Date', inplace=True)

In [24]:
# ensure it is showing properly
death_counts.head()

            US Overdose Deaths
Date
01/01/2012                   1
01/01/2013                   1
01/01/2015                   4
01/01/2016                   4
01/01/2017                   1

In [25]:
death_counts = death_counts.rename(columns={'Date': 'date'})

In [26]:
death_counts.head()

            US Overdose Deaths
Date
01/01/2012                   1
01/01/2013                   1
01/01/2015                   4
01/01/2016                   4
01/01/2017                   1

In [27]:
death_counts.shape

(3520, 1)

In [30]:
death_counts.isnull().sum()

US Overdose Deaths    0
dtype: int64