In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("pharma-data/overdoses/DrugDeaths.csv")

In [8]:
df.shape

(10654, 48)

In [9]:
df.columns

Index(['Date', 'Date Type', 'Age', 'Sex', 'Race', 'Ethnicity',
       'Residence City', 'Residence County', 'Residence State', 'Injury City',
       'Injury County', 'Injury State', 'Injury Place',
       'Description of Injury', 'Death City', 'Death County', 'Death State',
       'Location', 'Location if Other', 'Cause of Death', 'Manner of Death',
       'Other Significant Conditions ', 'Heroin',
       'Heroin death certificate (DC)', 'Cocaine', 'Fentanyl',
       'Fentanyl Analogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Meth/Amphetamine',
       'Amphet', 'Tramad', 'Hydromorphone', 'Morphine (Not Heroin)',
       'Xylazine', 'Gabapentin', 'Opiate NOS', 'Heroin/Morph/Codeine',
       'Other Opioid', 'Any Opioid', 'Other', 'ResidenceCityGeo',
       'InjuryCityGeo', 'DeathCityGeo'],
      dtype='object')

In [10]:
df.head()

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10654 entries, 0 to 10653
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           10654 non-null  object
 1   Date Type                      10654 non-null  object
 2   Age                            10652 non-null  float64
 3   Sex                            10645 non-null  object
 4   Race                           10625 non-null  object
 5   Ethnicity                      1575 non-null   object
 6   Residence City                 10148 non-null  object
 7   Residence County               9486 non-null   object
 8   Residence State                8756 non-null   object
 9   Injury City                    10476 non-null  object
 10  Injury County                  7332 non-null   object
 11  Injury State                   7741 non-null   object
 12  Injury Place                   10364 non-null  object
 13  Description of Injury          9850 non-null   object
 14  Death City                     9197 non-null   object
 15  Death County                   8090 non-null   object
 16  Death State                    6873 non-null   object
 17  Location                       10632 non-null  object
 18  Location if Other              1194 non-null   object
 19  Cause of Death                 10654 non-null  object
 20  Manner of Death                10645 non-null  object
 21  Other Significant Conditions   1010 non-null   object
 22  Heroin                         3472 non-null   object
 23  Heroin death certificate (DC)  740 non-null    object
 24  Cocaine                        3855 non-null   object
 25  Fentanyl                       6925 non-null   object
 26  Fentanyl Analogue              804 non-null    object
 27  Oxycodone                      950 non-null    object
 28  Oxymorphone                    157 non-null    object
 29  Ethanol                        2878 non-null   object
 30  Hydrocodone                    163 non-null    object
 31  Benzodiazepine                 2499 non-null   object
 32  Methadone                      938 non-null    object
 33  Meth/Amphetamine               127 non-null    object
 34  Amphet                         359 non-null    object
 35  Tramad                         284 non-null    object
 36  Hydromorphone                  67 non-null     object
 37  Morphine (Not Heroin)          55 non-null     object
 38  Xylazine                       792 non-null    object
 39  Gabapentin                     348 non-null    object
 40  Opiate NOS                     126 non-null    object
 41  Heroin/Morph/Codeine           2090 non-null   object
 42  Other Opioid                   128 non-null    object
 43  Any Opioid                     7620 non-null   object
 44  Other                          692 non-null    object
 45  ResidenceCityGeo               10488 non-null  object
 46  InjuryCityGeo                  10408 non-null  object
 47  DeathCityGeo                   10653 non-null  object
dtypes: float64(1), object(47)
memory usage: 3.9+ MB

In [12]:
df.describe()

                Age
count  10652.000000
mean      43.515302
std       12.601832
min       13.000000
25%       33.000000
50%       43.000000
75%       54.000000
max       87.000000

In [13]:
missing_data = df.isnull()

In [14]:
missing_data.head(10)

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,False,False,False,False,False,True,False,False,True,False,...,True,True,True,True,True,True,True,False,False,False
1,False,False,False,False,False,True,False,False,True,False,...,True,True,True,True,True,True,True,False,False,False
2,False,False,False,False,False,True,False,True,True,False,...,True,True,True,True,True,True,True,False,False,False
3,False,False,False,False,False,True,False,True,True,True,...,True,True,True,True,True,True,True,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,False,True,False,False,False
5,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
6,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,False,True,False,False,False
7,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
8,False,False,False,False,True,True,True,True,True,False,...,True,True,True,True,True,True,True,False,False,False
9,False,False,False,False,False,True,False,False,True,False,...,True,True,True,True,True,True,True,False,False,False

In [15]:
for column in missing_data.columns.values.tolist():
    print (column)
    print (missing_data[column].value_counts())
    print ('  ')

Date
Date
False    10654
Name: count, dtype: int64

Date Type
Date Type
False    10654
Name: count, dtype: int64

Age
Age
False    10652
True         2
Name: count, dtype: int64

Sex
Sex
False    10645
True         9
Name: count, dtype: int64

Race
Race
False    10625
True        29
Name: count, dtype: int64

Ethnicity
Ethnicity
True     9079
False    1575
Name: count, dtype: int64

Residence City
Residence City
False    10148
True       506
Name: count, dtype: int64

Residence County
Residence County
False    9486
True     1168
Name: count, dtype: int64

Residence State
Residence State
False    8756
True     1898
Name: count, dtype: int64

Injury City
Injury City
False    10476
True       178
Name: count, dtype: int64

Injury County
Injury County
False    7332
True     3322
Name: count, dtype: int64

Injury State
Injury State
False    7741
True     2913
Name: count, dtype: int64

Injury Place
Injury Place
False    10364
True       290
Name: count, dtype: int64

Description of Injury
Description of Injury
False    9850
True      804
Name: count, dtype: int64

Death City
Death City
False    9197
True     1457
Name: count, dtype: int64

Death County
Death County
False    8090
True     2564
Name: count, dtype: int64

Death State
Death State
False    6873
True     3781
Name: count, dtype: int64

Location
Location
False    10632
True        22
Name: count, dtype: int64

Location if Other
Location if Other
True     9460
False    1194
Name: count, dtype: int64

Cause of Death
Cause of Death
False    10654
Name: count, dtype: int64

Manner of Death
Manner of Death
False    10645
True         9
Name: count, dtype: int64

Other Significant Conditions
Other Significant Conditions
True     9644
False    1010
Name: count, dtype: int64

Heroin
Heroin
True     7182
False    3472
Name: count, dtype: int64

Heroin death certificate (DC)
Heroin death certificate (DC)
True     9914
False     740
Name: count, dtype: int64

Cocaine
Cocaine
True     6799
False    3855
Name: count, dtype: int64

Fentanyl
Fentanyl
False    6925
True     3729
Name: count, dtype: int64

Fentanyl Analogue
Fentanyl Analogue
True     9850
False     804
Name: count, dtype: int64

Oxycodone
Oxycodone
True     9704
False     950
Name: count, dtype: int64

Oxymorphone
Oxymorphone
True     10497
False      157
Name: count, dtype: int64

Ethanol
Ethanol
True     7776
False    2878
Name: count, dtype: int64

Hydrocodone
Hydrocodone
True     10491
False      163
Name: count, dtype: int64

Benzodiazepine
Benzodiazepine
True     8155
False    2499
Name: count, dtype: int64

Methadone
Methadone
True     9716
False     938
Name: count, dtype: int64

Meth/Amphetamine
Meth/Amphetamine
True     10527
False      127
Name: count, dtype: int64

Amphet
Amphet
True     10295
False      359
Name: count, dtype: int64

Tramad
Tramad
True     10370
False      284
Name: count, dtype: int64

Hydromorphone
Hydromorphone
True     10587
False       67
Name: count, dtype: int64

Morphine (Not Heroin)
Morphine (Not Heroin)
True     10599
False       55
Name: count, dtype: int64

Xylazine
Xylazine
True     9862
False     792
Name: count, dtype: int64

Gabapentin
Gabapentin
True     10306
False      348
Name: count, dtype: int64

Opiate NOS
Opiate NOS
True     10528
False      126
Name: count, dtype: int64

Heroin/Morph/Codeine
Heroin/Morph/Codeine
True     8564
False    2090
Name: count, dtype: int64

Other Opioid
Other Opioid
True     10526
False      128
Name: count, dtype: int64

Any Opioid
Any Opioid
False    7620
True     3034
Name: count, dtype: int64

Other
Other
True     9962
False     692
Name: count, dtype: int64

ResidenceCityGeo
ResidenceCityGeo
False    10488
True       166
Name: count, dtype: int64

InjuryCityGeo
InjuryCityGeo
False    10408
True       246
Name: count, dtype: int64

DeathCityGeo
DeathCityGeo
False    10653
True         1
Name: count, dtype: int64

In [16]:
death_counts = df.groupby('Date').size().reset_index(name='US Overdose Deaths')

In [17]:
death_counts.head()

         Date  US Overdose Deaths
0  01/01/2012                   1
1  01/01/2013                   1
2  01/01/2015                   4
3  01/01/2016                   4
4  01/01/2017                   1

In [18]:
death_counts.tail()

            Date  US Overdose Deaths
3515  12/31/2018                   1
3516  12/31/2019                   4
3517  12/31/2020                   3
3518  12/31/2021                   3
3519  12/31/2022                   3

In [19]:
death_counts.set_index('Date', inplace=True)

In [20]:
death_counts.head()

            US Overdose Deaths
Date
01/01/2012                   1
01/01/2013                   1
01/01/2015                   4
01/01/2016                   4
01/01/2017                   1

In [21]:
death_counts.describe()

       US Overdose Deaths
count         3520.000000
mean             3.026705
std              1.832538
min              1.000000
25%              2.000000
50%              3.000000
75%              4.000000
max             12.000000